* {
    margin: 0;
    padding: 0;
}

.wrapper {
    padding: 10px;
    width: 1200px;
    height: 900px;
}

.boxes {
    outline: solid black 2px;
    width: 48%;
    padding: 10px;
    display: inline-block;
    min-height: 90%;
}
